.fixed-top
.nav
  %a.brand Imgin
  %ul.nav-items
    %li
      %a About
    %li
      - if current_user == nil 
        =link_to "Github", login_path 
      - else
        =link_to "Sign out", logout_path
.shadow
